VITE_SPOTIFY_CLIENT_ID=
VITE_SPOTIFY_BASE_URL=                                            #https://api.spotify.com/v1
VITE_SPOTIFY_AUTH_URL=                                            #https://accounts.spotify.com/api/token
VITE_HOST=                                                        #127.0.0.1
VITE_PORT=                                                        #5173
